<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PacmanGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PacmanGame.Properties.Settings>
            <setting name="LeftKey" serializeAs="Xml">
                <value>
                    <Key>Left</Key>
                </value>
            </setting>
            <setting name="RightKey" serializeAs="Xml">
                <value>
                    <Key>Right</Key>
                </value>
            </setting>
            <setting name="UpKey" serializeAs="Xml">
                <value>
                    <Key>Up</Key>
                </value>
            </setting>
            <setting name="DownKey" serializeAs="Xml">
                <value>
                    <Key>Down</Key>
                </value>
            </setting>
            <setting name="EnemyMovementInterval" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="RememberedHighscoresCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PauseKey" serializeAs="Xml">
                <value>
                    <Key>Escape</Key>
                </value>
            </setting>
            <setting name="BoardWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="BoardHeight" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="BoardFilePath" serializeAs="String">
                <value>/Resources/example_board.board</value>
            </setting>
        </PacmanGame.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>